<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.brandmania">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
          <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Common.MakeMyBrandApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".Activity.custom.ViewAllFrameImageActivity" />
        <activity android:name=".Activity.about_us.AppIntroActivity" />
        <activity android:name=".Activity.custom.CustomViewAllActivit" />
        <activity android:name=".Activity.packages.RazorPayActivity" />
        <activity android:name=".Activity.ViewNotificationActivity" />
        <activity android:name=".Activity.packages.PackageActivity" />
        <activity android:name=".Activity.details.FavoriteDetailActivity" />
        <activity android:name=".Activity.details.DownloadDetailActivity" />
        <activity android:name=".Activity.brand.AddBrandMultipleActivity" />
        <activity android:name=".Activity.about_us.AboutUsActivity" />
        <activity android:name=".Activity.about_us.AddReportAndBug" />
        <activity android:name=".Activity.about_us.FaqActivity" />
        <activity android:name=".TextAndImageEditActivity" />
        <activity android:name=".TextandImageEdit" />
        <activity android:name=".Activity.packages.SubscriptionActivity" />
        <activity android:name=".Activity.about_us.HelpAndSupport" />
        <activity android:name=".Activity.about_us.PartnerProgramActivity" />
        <activity android:name=".Activity.brand.ViewBrandActivity" />
        <activity android:name=".Activity.brand.AddBranddActivity" />
        <activity android:name=".Activity.brand.UpdateBandList" />
        <activity android:name=".Activity.basics.RegistrationActivity" />
        <activity android:name=".Activity.basics.OtpScreenActivity" />
        <activity
            android:name=".Activity.basics.LoginActivity"
            android:theme="@style/AppTheme_material_theme" />
        <activity android:name=".Activity.details.ImageCategoryDetailActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.basics.SpleshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".Connection.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.brandmania.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
         <meta-data
         android:name="com.razorpay.ApiKey"
         android:value="rzp_live_Sq3SAdZBt9Vec4" />
<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_test_g34adOBwCItfce" />-->

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>