<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.brandmania">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:exported="true"
        android:name=".Common.MakeMyBrandApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name=".LetterHead.LetterHeadActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.brand.EditActivity"
            android:exported="false" />

        <activity android:name=".Activity.basics.ReferNEarnActivity" android:exported="false" />

        <activity
            android:exported="false"
            android:name=".Activity.PdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.custom.ViewAllFrameImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.AppIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.custom.CustomViewAllActivit"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.packages.RazorPayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:exported="false"
            android:name=".Activity.ViewNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.details.DailyCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.basics.LoadingHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.packages.PackageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.brand.AddBrandMultipleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.details.BusinessCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.AddReportAndBug"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.packages.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.HelpAndSupport"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.about_us.PartnerProgramActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.brand.ViewBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.brand.AddBranddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.brand.UpdateBandList"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.basics.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:name=".Activity.basics.OtpScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.basics.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_material_theme" />
        <activity
            android:exported="false"
            android:name=".Activity.details.ImageCategoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:exported="true"
            android:name=".Activity.basics.SpleshActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="brandmania.page.link"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="brandmania.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:exported="true"
            android:name=".Connection.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data

            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_Sq3SAdZBt9Vec4" />
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="rzp_live_Sq3SAdZBt9Vec4" /> &lt;!&ndash; <meta-data &ndash;&gt;-->

        <activity
            android:exported="true"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    </application>

</manifest>